[submodule "MBProgressHUD"]
	path = MBProgressHUD
	url = git://github.com/matej/MBProgressHUD.git
[submodule "JSONKit"]
	path = JSONKit
	url = git://github.com/johnezang/JSONKit.git
[submodule "UnittWebSocketClient"]
	path = UnittWebSocketClient
	url = git://github.com/kirbylover4000/UnittWebSocketClient.git
