[submodule "MBProgressHUD"]
	path = MBProgressHUD
	url = git://github.com/matej/MBProgressHUD.git
[submodule "JSONKit"]
	path = JSONKit
	url = git://github.com/johnezang/JSONKit.git
[submodule "UnittWebSocketClient"]
	path = UnittWebSocketClient
	url = git://github.com/kirbylover4000/UnittWebSocketClient
[submodule "TTTAttributedLabel"]
	path = TTTAttributedLabel
	url = git://github.com/mattt/TTTAttributedLabel.git
[submodule "Core-Text-Label"]
	path = Core-Text-Label
	url = git://github.com/newsme/Core-Text-Label.git
