<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleExecutable</key>
  <string>IRCCloud</string>
  <key>CFBundleDisplayName</key>
  <string>IRCCloud</string>
  <key>CFBundleIconFiles</key>
  <array>
      <string>icon.png</string>
      <string>icon@2x.png</string>
      <string>icon~ipad.png</string>
      <string>Icon-Small.png</string>
      <string>Icon-Small@2x.png</string>
      <string>Icon-Small~ipad.png</string>
  </array>
  <key>CFBundleIdentifier</key>
  <string>ws.hbang.irccloud</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleSignature</key>
  <string>????</string>
  <key>CFBundleSupportedPlatforms</key>
  <array>
    <string>iPhoneOS</string>
  </array>
  <key>CFBundleVersion</key>
  <string>1.0</string>
  <key>DTPlatformName</key>
  <string>iphoneos</string>
  <key>DTSDKName</key>
  <string>iphoneos3.0</string>
  <key>LSRequiresIPhoneOS</key>
  <string>1</string>
  <key>MinimumOSVersion</key>
  <string>5.0</string>
  <key>UIDeviceFamily</key>
  <array>
    <string>1</string>
    <string>2</string>
  </array>
  <key>UISupportedInterfaceOrientations</key>
  <array>
    <string>UIInterfaceOrientationPortrait</string>
    <string>UIInterfaceOrientationLandscapeLeft</string>
    <string>UIInterfaceOrientationLandscapeRight</string>
    <string>UIInterfaceOrientationPortraitUpsideDown</string>
  </array>
  <key>UISupportedInterfaceOrientations~ipad</key>
  <array>
    <string>UIInterfaceOrientationPortrait</string>
    <string>UIInterfaceOrientationLandscapeLeft</string>
    <string>UIInterfaceOrientationLandscapeRight</string>
    <string>UIInterfaceOrientationPortraitUpsideDown</string>
  </array>
</dict>
</plist>
